<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Countdown to Deadline</title>
        <style>
            body {
                margin-top: 100px;
                margin-left: 60px;
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Countdown to Deadline 31 October </h1>
        <p>Only a few days left to reach the deadline!</p>
        <p>Countdown: {{ daytime }} Days</p>
        <p>Countdown: {{ secstime }} seconds</p>
    </body>
</html>